/* Reset */

:root {
  --bg-light: #f7f9fc;
  --text-light: #333;
  --primary-light: #0077b6;
  --bg-dark: #121212;
  --text-dark: #eee;
  --primary-dark: #66b2e8;
}
* {
  box-sizing: border-box;
  margin:0 ;
  padding: 0;
}

/* Tema light */
.light {
  background-color: var(--bg-light);
  color: var(--text-light);
}

/* Tema dark */
.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}


.navbar {
    background-color: var(--primary-light);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar h1 {
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links button {
    background-color: white;
    color: var(--primary-light);
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
}

.burger {
    display: none;
    font-size: 1.6rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: var(--primary-light);
        top: 60px;
        right: 0;
        padding: 1rem;
        border-radius: 0 0 0 10px;
    }

    .nav-link.open {
        display: flex;
    }

    .nav-links a, .nav-links button {
        color: white;
        padding: 0.5rem 0;
    }
}